.wrappers {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 25px 25px 25px 25px;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
    background-image: "/src/images/galaxy-background.jpg"
  }